* {
  /* border: solid red 1px; */
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "nav main main main" "nav main main main"
   "nav main main main";
}

/* NAV */

nav {
  background-color: #1F1F3D;
  grid-area: nav;
}

header {
  border-bottom: 1px solid #a9aad2;
  color: #fff;
  font-size: 18px;
  padding: 25px 15px;
}

.nav__starred {
  border-bottom: 1px solid #a9aad2;
  display: flex;
  flex-direction: column;
  padding: 40px 15px;
}

h3 {
  color: #bfbfdd;
  font-size: 18px;
  margin-bottom: 30px;
}

.nav__btn {
  color: #fff;
  background-color: #5356a4;
  border: 1px solid #353567;
  font-size: 21px;
  font-weight: 700;
  height: 60px;
  width: 99%;
}

.nav__btn:hover {
  cursor: pointer;
}

.nav__quality {
  border-bottom: 1px solid #a9aad2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav__quality--label {
  margin-left: 15px;
}

li {
  color: #fff;
  font-size: 23px;
  height: 40px;
  list-style: none;
  margin: auto auto 15px 15px;
}

li:hover {
  margin: 0 5px 5px 0;
  padding: 5px;
  background-color: #d14119;
  border-left: 9px solid #e58e72;
  cursor: pointer;
}

.nav__input--label {
  color: #bfbfdd;
  font-size: 18px;
  font-weight: 700;
}

.nav__form {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 35px 15px;
}

.nav__input--quality {
  height: 50px;
  border: 1px solid #353567;
  margin: 7px 16px 25px auto;
  width: 99%;
}


/* MAIN */

main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "top-section" "top-section" "bottom-section"
  "bottom-section" "bottom-section";
}

.main__top {
  background-color: #A9AAD2;
  grid-area: top-section;
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.top__form--container {
	height: 360px;
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: center;
}

.title {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 90%;
	height: 20%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.title__label,
.body__label {
	margin-right: 450px;
	margin-bottom: 10px;
	color: #1f1f3d;
	font-weight: bold;
	font-size: 18px;
}

.main__bottom {
  background-color: #EAEAF4;
  grid-area: bottom-section;
}

.card{
  border: 2px solid #6E646B;
  display: flex;
  flex-direction: column;
  width: 30vh;
  height: 30vh;
}

.card__header{
  background-color: #1F1F3D;
  width: 100%;
  height: 4vh;
}

.card__img--star {
  float: left;
}
.card__img--close {
  float: right;
}

.card__body {
  height: 22vh;
  width: 100%;
}

.card__ideas {
  font-size: 14 px;
  font-weight: 600;
}

.card__info {
  font-size: 14px;

}

.card__footer {
  background-color: #5356A4;
  height: 4vh;
  text-align: center;
}

.card__img--upvote {
  float: left;
}

.card__quality {
  color: white;
  display: inline;
  font-size: 16px;
  font-weight: 500;
}

.card__img--downvote {
  float: right;
}

img {
  height: 25px;
  border: 2px solid green;
}