* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #EAEAF4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "nav main main main" "nav main main main"
   "nav main main main";
}


nav {
  background-color: #1F1F3D;
  position: fixed;
  width: 28%;
  display: grid;
  grid-area: nav;
}

.nav__hamburger--menu,
.nav__menu--close {
  display: none;
}

header {
  border-bottom: 1px solid #a9aad2;
  display: flex;
  color: #fff;
  font-size: 1.1em;
  min-height: 100px;
  padding: 25px 15px;
  margin-top: 1vh;
}


h1 {
  height: 50%;
  margin: 0;
  width: 85%;
}


.hidden {
  display: none;
}

.visible {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav__starred {
  border-bottom: 1px solid #a9aad2;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0px 15px;
  height: 20vh;
  min-height: 200px;
}

h3 {
  color: #bfbfdd;
  font-size: 18px;
  margin: 0px;
}

.nav__ranks {
  display: flex;
  flex-direction: column;
}

.nav__quality--btns {
  color: #fff;
  font-size: 23px;
  height: 40px;
  list-style: none;
  margin: auto auto 10px -30px;
  background-color: #1F1F3D;
  border: none;
}

.nav__quality--btns:hover {
  margin: 0 0 10px -40px;
  padding: 5px;
  background-color: #d14119;
  border-left: 9px solid #e58e72;
  cursor: pointer;
  text-align: left;
}

.nav__btn {
  color: #fff;
  background-color: #5356a4;
  border: 1px solid #353567;
  font-size: 21px;
  font-weight: 700;
  height: 70px;
  padding: 0;
  width: 99%;
}

.nav__btn:hover {
  cursor: pointer;
}

.nav__quality {
border-bottom: 1px solid #a9aad2;
display: flex;
flex-direction: column;
justify-content: space-evenly;
height: 51vh;
min-height: 450px;
padding-top: 30px;
}

.nav__quality--label {
  margin-left: 15px;
}

li {
  color: #fff;
  font-size: 23px;
  height: 40px;
  list-style: none;
  margin: auto auto 15px 15px;
}

li:hover {
  margin: 0 5px 5px 0;
  padding: 5px;
  background-color: #d14119;
  border-left: 9px solid #e58e72;
  cursor: pointer;
}

.nav__input--label {
  color: #bfbfdd;
  font-size: 18px;
  font-weight: 700;
}

.nav__form {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 35px 15px;
}

.nav__input--quality {
  height: 50px;
  border: 1px solid #353567;
  margin: 7px 16px 25px auto;
  width: 99%;
}

.nav__footer {
  height: 25vh;
}

main {
  grid-area: main;
}

.main__top {
  background-color: #A9AAD2;
  grid-area: top-section;
  height: 62vh;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top__form--container {
  width: 51%;
  justify-content: space-evenly;
  margin-top: 15px;
}

.title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.title__input {
  border: solid 2px #5356A4;
  border-radius: 3px;
  font-size: 20px;
  font-style: bold;
  color: #1F1F3D;
  width: 100%;
  height: 65px;
  margin-bottom: 25px;
  overflow: scroll;
  padding: 10px;
  word-wrap: break-word;
}

.body__input {
  border: solid 2px #5356A4;
  border-radius: 3px;
  font-style: bold;
  font-size: 20px;
  color: #1F1F3D;
  width: 100%;
  height: 19vh;
  margin-bottom: 30px;
  padding: 10px;
  overflow: scroll;
  word-wrap: break-word;
}

.title__label,
.body__label {
  color: #1f1f3d;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 6px;
  display: flex;
  align-items: left;
  flex-direction: column;
}

.top__input--btn {
  border: solid 2px #5356A4;
  background-color: #353567;
  display: block;
  min-width: 30vw;
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}

.top__search--form {
  display: flex;
  flex-direction: row;
  height: 60px;
}

.form__search--input {
  border: solid 2px #5356A4;
  width: 90%;
  height: 60px;
  margin-top: 30px;
  font-size: 16px;
  font-style: bold;
  padding-left: 10px;
}

.search__img {
  background-color: #353567;
  height: 60px;
  width: 10%;
  padding: 10px;
  margin-top: 30px;
  border: 1px solid #353567;
}

.main__bottom {
  background-color: #EAEAF4;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 20px 60px;
  justify-content: flex-start;
  margin-left: 3%;
}

.prompt__new-idea {
  height: 350px;
  width: 300px;
  border: 2px dashed #a9aad2;
  color: #353567;
  font-size: 30px;
  font-style: bold;
  text-align: center;
  padding: 20px;
  justify-content: space-between;
}

.card{
  border: 2px solid #6E646B;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 350px;
  margin: .7vw;
  width: 31%;
  box-shadow: 1px 4px 15px -4px rgba(0,0,0,0.76);
}

.card:hover {
  box-shadow: 9px 6px 15px 5px rgba(0,0,0,0.56);
  transition: 0.25s;
}

.card__header{
  background-color: #1F1F3D;
  width: 100%;
  height: 11%;
}

.card__img:hover {
  transform: scale(1.2)
}

.card__img--star {
  float: left;
}
.card__img--close {
  float: right;
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: scroll;
  word-wrap: break-word;
}

.card__ideas {
  font-size: 18px;
  font-weight: 600;
  width: 85%;
  overflow: scroll;
  word-wrap: break-word;
}

.card__info {
  font-size: 16px;
  width: 85%;
  overflow: scroll;
  word-wrap: break-word;

}

.card__footer {
  background-color: #5356A4;
  height: 11%;
  text-align: center;
}

.card__img--upvote {
  float: left;
}

.card__quality {
  color: white;
  display: inline;
  font-size: 16px;
  font-weight: 500;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.card__img--downvote {
  float: right;
}

img {
  height: 25px;
}

@media screen and (max-width: 960px) {

  h1 {
    font-size: 25px;
  }

  .search__img {
    width: 12%;
    padding: 12px;
  }

  .main__top {
    width: 110%;
  }

  .top__form--container {
    width: 65%;
  }

  .main__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 0 20px;
    width: 100%;
  }

  .card {
    width: 48%;
    height: 33%;
  }

  .card__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
  }

  .card__img--downvote,
  .card__img--upvote {
    height: 90%;
    width: 10%;
  }

  .card__header {
    height: 5vh;
    font-size: 1.5em;
  }

  .card__quality {
    align-self: flex-end;
    margin-bottom: 2px;
  }

  .card__ideas {
    height: 50px;
    font-size: 1.4em;
    font-weight: 600;
  }

  .card__info {
    font-size: 1.3em;
    height: 100px;
  }

}

@media screen and (max-width: 600px) {
  * {
    font-family: 'Open Sans', sans-serif;
  }

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .nav__starred,
  .nav__quality,
  .nav__footer {
    visibility: hidden;
    display: none;
  }


  h1 {
    font-size: 130%;
    margin-left: 18px;
  }

  nav {
    position: fixed;
    margin-top: 0px;
    height: 8vh;
    width: 100%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    position: inherit;
  }

  .nav__header {
    padding: 5px 5px;
    width: 93%;
    font-size: 100%;
    text-align: center;
    margin: 0 auto;
    border: 0px;
  }

  .main__top {
    height: 15%;
    display: flex;
    width: 100%;
    flex-direction: column;
    min-height: 410px;
     
  }

  .top__form--container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    
  }
  
  .title__input {
    height: 30px;
    display: flex;
    flex-direction: column;
    
  }

  .body__input {
    height: 70px;
    display: flex;
    flex-direction: column;
  }

  .top__input--btn {
    height: 50px;
    font-size: 90%
  }

  .search__img {
    height: 40px;
    width: 40px;
  }

  .form__search--input {  
    height: 40px;
    
  }

  .main__bottom {
    padding: 0;
    width: 300px;
}

.prompt__new-idea {
  border: 0px;
}

.card {
    margin: 10px 0px 0px 5px;
    width: 90%;
    height: 200px;
  }

}