*{
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  height: 100%;
  width: 25%;
  position: fixed;
  background-color: #1f1f3d;
}

header {
  border-bottom: 1px solid #a9aad2;
  color: #fff;
  font-size: 18px;
  padding: 25px 15px;
}

.nav__starred {
  border-bottom: 1px solid #a9aad2;
  display: flex;
  flex-direction: column;
  padding: 40px 15px;
}

h3 {
  color: #bfbfdd;
  font-size: 18px;
  margin-bottom: 30px;
}

.nav__btn {
  color: #fff;
  background-color: #5356a4;
  border: 1px solid #353567;
  font-size: 21px;
  font-weight: 700;
  height: 60px;
  width: 99%;
}

.nav__btn:hover {
  cursor: pointer;
}

.nav__quality {
  border-bottom: 1px solid #a9aad2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 35px auto;
}

.nav__quality--label {
  margin-left: 15px; 
}

li {
  color: #fff;
  font-size: 23px;
  height: 40px;
  list-style: none;
  margin: auto auto 15px 15px;
}

li:hover {
  margin: 0 5px 5px 0;
  padding: 5px;
  background-color: #d14119;
  border-left: 9px solid #e58e72;
  cursor: pointer;
}

.nav__input--label {
  color: #bfbfdd;
  font-size: 18px;
  font-weight: 700;
}

.nav__form {
  display: flex;
  flex-direction: column;
  margin: 15px 15px 35px 15px;
}

.nav__input--quality {
  height: 50px;
  border: 1px solid #353567;
  margin: 7px 16px 25px auto;
  width: 99%;
}